---
layout: base
---

<!-- class="selected" -->

<div class="left-column">
	<div class="submenu">
	  <a {% if page.title == "Stickat" %} class="selected" {% endif %} href="{{site.baseurl}}/stickat.html">Stickat</a>
	  <a {% if page.title == "Skulptur" %} class="selected" {% endif %} href="{{site.baseurl}}/skulptur.html">Skulptur</a>
	  <a {% if page.title == "Vävt" %} class="selected" {% endif %} href="{{site.baseurl}}/vavt.html">Vävt</a>
	  <a {% if page.title == "Tryckt" %} class="selected" {% endif %} href="{{site.baseurl}}/tryckt.html">Tryckt</a>
	  <a {% if page.title == "Broderat" %} class="selected" {% endif %} href="{{site.baseurl}}/broderat.html">Broderat</a>
	</div>
</div>

<div class="right-column">
	{{content}}
</div>
